---
layout: base.njk
title: Brain Fuel Pizza
---

<div class="filter"></div>
<div class="container">
    <div class="header">
        <h1>Brain Fuel Pizza</h1>
        <h3>Tel: +46816204002</h3>
        <div class="headerButtons">
            <a href="#about"><button class="button"><span>Öppettider</span></button></a>
            <a href="#about"><button class="button"><span>Kontakta oss</span></button></a>
        </div>
    </div>
    <table>
        {% asyncAll pizza in pizzameny %}
        <tr>
            <td>{{ pizza.name }}</td>
            <td>{{ pizza.ingredients }}</td>
            <td>{{ pizza.price }}</td>
        </tr>
        {% endall %}
    </table>
    <div id="about" class="about">
        <div class="tider">
            <h2>
                Öppettider
            </h2>
            <h3>
                Mån-Tor | 10-21
            </h3>
            <h3>
                Fre-Lör | 11-22:30
            </h3>
            <h3>
                Söndag | 13-21
            </h3>
        </div>
        <div class="kontaktInfo">
            <h2>Kontakta oss</h2>
            <h3>Tel: +46816204002</h3>
            <h3>Mail: name@email.com</h3>
            <h3>Adress: Sandbackavägen, 903 46 Umeå</h3>
        </div>
    </div>
    <div class="karta">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2319.576538048484!2d20.283299030949397!3d63.84562895705818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1695113848227!5m2!1ssv!2sse"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
</div>